<div class="home-container">
    <div class="home-text">
        <h1 class="colored-text">Pick Your Desired
            <span class="gradient-text">Colors</span>
        </h1>
        <p class="colored-text">Choose a color palette using the Toolbar below.</p>
    </div>
    <div class="home-img">
        <svg width="652" height="644" viewBox="0 0 652 644">
            <rect class="colored-text" opacity="0.05" x="1" width="163" height="60" rx="10"/>
            <rect class="secondary-color" x="424" width="193" height="60" rx="10"/>
            <rect class="secondary-color" x="424" y="68" width="193" height="175" rx="10"/>
            <rect class="primary-color" opacity="0.2" x="424" y="401" width="193" height="79" rx="10"/>
            <rect class="background-color" x="255" y="626" width="362" height="18" rx="9"/>
            <rect class="background-color" x="80" y="579" width="166" height="65" rx="10"/>
            <rect class="colored-text" x="255" y="579" width="160" height="40" rx="10"/>
            <rect class="colored-text" opacity="0.05" x="255" y="490" width="160" height="80" rx="10"/>
            <rect class="colored-text" opacity="0.05" x="255" y="400" width="160" height="80" rx="10"/>
            <rect class="primary-color" x="80" y="68" width="335" height="324" rx="10"/>
            <rect class="colored-text" x="80" y="401" width="166" height="169" rx="10"/>
            <rect class="secondary-color" x="424" y="490" width="193" height="129" rx="10"/>
            <rect class="primary-color" x="626" y="490" width="26" height="154" rx="10"/>
            <rect class="background-color" x="424" y="252" width="91" height="140" rx="10"/>
            <rect class="background-color" x="524" y="252" width="93" height="140" rx="10"/>
            <rect class="colored-text" opacity="0.05" x="626" width="26" height="480" rx="10"/>
            <rect class="background-color" x="173" width="242" height="60" rx="10"/>
            <rect class="background-color" x="1" y="68" width="70" height="157" rx="10"/>
            <rect class="secondary-color" opacity="0.05" x="1" y="234" width="70" height="259" rx="10"/>
            <rect class="secondary-color" x="1" y="502" width="70" height="142" rx="10"/>
        </svg>
    </div>
</div>

