<div class="nav-container">
    <div class="nav">
        <app-button text="Text" color={{text_color}}></app-button>
        <app-button text="Background" color={{background_color}}></app-button>
        <app-button text="Primary" color={{primary_color}}></app-button>
        <app-button text="Secondary" color="{{secondary_color}}"></app-button>
        <app-button text="Dark/Light"></app-button>
        <app-button text="Randomize" (btnClickEvent)="randomizeColors()"></app-button>
    </div>
</div>
